<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UMSocialLogin_Sina.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CEEEEA61BEB41D000A7B4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CEEEEBA1BEB41D000A7B4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CEEEEC51BEB41D000A7B4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
